extends ../../layouts/default
include ../../mixins/alert
include ../../mixins/noAccess

block main
  if role && role.permissions && role.permissions.includes('account-create')
    .container-fluid
      .col-lg-8.mx-auto
        .card.shadow-sm.border-0
          .card-header.bg-primary.text-white
            h4.mb-0 Thêm tài khoản mới
          .card-body
            +alert-error(3000)
            form(method="POST", action=`${prefixAdmin}/accounts/create`, enctype="multipart/form-data")
              .form-group.mb-3
                label(for="fullName") Họ và tên
                input.form-control(type="text", name="fullName", id="fullName", required)
              .form-group.mb-3
                label(for="email") Email
                input.form-control(type="email", name="email", id="email", required)
              .form-group.mb-3
                label(for="password") Mật khẩu
                input.form-control(type="password", name="password", id="password", required)
              .form-group.mb-3
                label(for="phone") Số điện thoại
                input.form-control(type="text", name="phone", id="phone", required)
              .form-group.mb-3
                label(for="address") Địa chỉ
                input.form-control(type="text", name="address", id="address", required)
              .form-group.mb-3
                label(for="role_id") Quyền
                select.form-control(name="role_id", id="role_id", required)
                  option(value="") -- Chọn quyền --
                  each role in roles
                    option(value=role._id)= role.title
              .form-group.mb-3
                label(for="avatar") Ảnh đại diện
                input.form-control-file(type="file", name="avatar", id="thumbnail", accept="image/*")
                br
                img#preview-img(src="", alt="Preview", style="max-width: 200px; margin-top: 10px; display: none;")
                br
                button#remove-btn(type="button", style="display: none; margin-top: 5px;" class="btn btn-sm btn-danger") Xóa ảnh
              .form-group.mb-3
                label(for="status") Trạng thái
                select.form-control(name="status", id="status")
                  option(value="active") Hiển thị
                  option(value="inactive") Ẩn
              .d-flex.justify-content-end.mt-4
                button.btn.btn-primary(type="submit")
                  i.fas.fa-save.mr-1
                  | Lưu
                a.btn.btn-secondary.ml-2(href=`${prefixAdmin}/accounts`)
                  i.fas.fa-arrow-left.mr-1
                  | Quay lại
  else
    +noAccess()

