extends ../../layouts/default
include ../../mixins/alert

block main
  h1.mb-4.text-primary Đổi mật khẩu

  +alert-error(3000)
  +alert-success(3000)

  form(method="POST", action=`${prefixAdmin}/my-account/change-password`)
    .form-group
      label(for="currentPassword") Mật khẩu hiện tại
      input.form-control(type="password", name="currentPassword", required)

    .form-group
      label(for="newPassword") Mật khẩu mới
      input.form-control(type="password", name="newPassword", required)

    .form-group
      label(for="confirmPassword") Xác nhận mật khẩu mới
      input.form-control(type="password", name="confirmPassword", required)

    button.btn.btn-primary(type="submit") Cập nhật mật khẩu
    a.btn.btn-secondary.ml-2(href=`${prefixAdmin}/my-account`) Quay lại
