extends ../../layouts/default

block main
  .container.my-5
    .text-center.py-5
      i.bi.bi-check-circle-fill.text-success(style="font-size: 5rem;")
      h1.mt-4 Đặt hàng thành công!
      p.lead Cảm ơn bạn đã mua sắm tại cửa hàng chúng tôi
      p Nhân viên sẽ liên hệ với bạn trong thời gian sớm nhất để xác nhận đơn hàng.
      a.btn.btn-primary(href="/") Tiếp tục mua sắm