header.header.bg-dark.text-white.py-3
  .container.d-flex.justify-content-between.align-items-center
    h1.h4.mb-0 Quản trị hệ thống
    a.btn.btn-outline-light(href=`${prefixAdmin}/auth/logout`) Đăng xuất
