header.header.bg-dark.text-white.py-3
  .container.d-flex.justify-content-between.align-items-center
    h1.h4.mb-0 Quản trị hệ thống
    
    div
      a.btn.btn-outline-light.me-2(href=`${prefixAdmin}/my-account`)
        i.fas.fa-user.me-2
        | Thông tin cá nhân
      a.btn.btn-outline-light.me-2(href=`${prefixAdmin}/my-account/change-password`)
        i.fas.fa-key.me-2
        | Đổi mật khẩu
      a.btn.btn-outline-danger(href=`${prefixAdmin}/auth/logout`)
        i.fas.fa-sign-out-alt.me-2
        | Đăng xuất