extends ../../layouts/default
include ../../mixins/alert
block main
  +alert-error()
  .container.mt-5
    h2.text-center.mb-4 Quên mật khẩu

    form(method="POST", action="/user/password/forgot")
      .mb-3
        label.form-label(for="email") Email
        input.form-control(type="email", id="email", name="email", required)

      button.btn.btn-primary(type="submit") Gửi
