
mixin select-tree(items, parent_id = "")
  each item in items
    - const selected = (item.id === parent_id)
    option(
      value=item.id
      selected=selected
    ) #{'— '.repeat(item.indent)} #{item.title}