extends ../../layouts/default
include ../../mixins/alert
include ../../mixins/noAccess

block main
  if role && role.permissions && role.permissions.includes('roles-create')
    h1.mb-4.text-primary Thêm quyền mới
    +alert-error(3000)

    form(method="POST", action=`${prefixAdmin}/roles/create`)
      .form-group
        label(for="title") Tên quyền
        input.form-control(type="text", name="title", id="title", required)

      .form-group
        label(for="description") Mô tả
        textarea.form-control(name="description", id="description")

      button.btn.btn-primary(type="submit") Lưu
      a.btn.btn-secondary(href=`${prefixAdmin}/roles`) Quay lại
  else  
    +noAccess()